@import '../variables';

.list_avia_ticket {
  display: grid;
  grid-template-areas:
    'price .    logo'
    'city  wait transfer';
  list-style-type: none;
  padding: 1.5em;
  margin: 0;
  border-radius: 3px;
  background: white;
  text-decoration: none;
  filter: $box-shadow;
  & .avia_logo {
    grid-area: logo;
  }
  & .avia_price {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 22px;
    font-weight: bold;
    color: $border-color;
    grid-area: price;
  }
  & .avia_city_time {
    grid-area: city;
  }
  & .avia_wait {
    grid-area: wait;
  }
  & .avia-transfer {
    grid-area: transfer;
  }
  & span {
    display: grid;
    text-transform: uppercase;
  }
}
