body {
  background-color: #f3f7fa;
}

.App {
  background: #f3f7fa;
  display: grid;
  justify-items: center;
  margin-top: 2em;
  gap: 2em;
}

.container {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  grid-template-columns: 1.5fr 4fr;
  display: grid;
  align-items: start;
  grid-gap: 20px;
  justify-content: center;
  max-width: 1010px;
  margin: 1em auto;
  height: auto;
}
.content {
  display: grid;
  grid-gap: 1em;
}
