@import '../variables';

.text-style {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $color;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #2196f3;
      border-radius: 2px;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
}
.custom-checkbox:checked + label::before {
  background-image: url(./Shape.svg);
}
.filters {
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  border-radius: 5px;
  background: #fff;
  text-decoration: none;
  filter: $box-shadow;
  & .form {
    display: grid;
    padding: 1.2em;
    gap: 0.7em;
    & .list_filter {
      display: grid;
      gap: 1em;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    & .title {
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #4a4a4a;
    }
    &-item {
      padding: 0.5em 1em;
      &:hover {
        background: $backgroung-color_light;
        box-shadow: $box-shadow;
      }
    }
  }
}
